*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.199);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
  
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}


/*text-shadow: [x-offset] [y-offset] [blur-radius] [color];
*/
.logo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 0.4s ease;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}
@keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #eb4e92, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }

.cool-link::after{ 
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 102, 161);
    transition: width .3s;
    list-style: none;
}

.cool-link:hover::after{
    width: 100%;
    transition: width .3s;   
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
    list-style: none;
    transition: 0.4s ease;



}

.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;

}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}

/* @media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color: rgba(0, 0, 0, 0.199);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .text h1{
        font-size: 35px;
        transform: translateX(-10%);
        transition: transform 0.9s ease-in;
    }
    .btn{
        font-size: 25px;
        transform: translateX(-25%);
        transition: transform 0.9s ease-in;

    }
    .about h1{
        opacity: 0;
        font-size: 30px;
    }


} */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }

    
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }

}


.toogle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);    
}
.toogle .line2{
    opacity: 0;
}
.toogle .line3{
    transform: rotate(45deg) translate(-5px, -6px);    
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(photo3.png);
    background-size: cover;
    background-position: center;
}
.text{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 102, 161);
    transition: transform 0.5s ease;

}
.btn{

    border: none;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 20px;
    position: relative;
    margin: 32px;
    font-weight: bold;
    background-color: rgb(209, 147, 176);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.2s;

}
.btn:hover{
    color: rgb(0, 0, 0);
    background: rgb(235, 50, 136);
    box-shadow: 0 0 10px #ff00bf,  0 0 40px #ff00bf, 0 0 10px #ff00bf;
}       

/*card
*/
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:  center;
    background-image: url(R.jfif);

}
.card-container{
    width: 282px;
    height: 347px;
    
}
.card{
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}


.card-container:hover .card{
    transform: rotateY(180deg);
}
.card figure{
    width: 100%;
    height: 100%;
    position: absolute;
}
.card .front{
    background-color: rgb(77, 77, 151);
    color: rgb(255, 255, 255);
}
.card .back{
    background-image: linear-gradient(purple, pink);

    color: white;
    transform: rotateY(180deg);
    font-size: 20px;
}
.about{
    font-size: 80px;
    margin-right: 20vh;
    font-family: 'Allison', cursive;
}
@keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  @-o-viewport{
      zoom: 1.0;;
      width: extend-to-zoom;
  }
  @-ms-viewport{
      width: extend-to-zoom;
      zoom: 1.0;
  }